server:
  servlet:
    context-path: /user

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/users
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      jakarta.persistence.jdbc.time_zone: UTC

  liquibase:
    enabled: true
    change-log: "classpath:/liquibase/db.changelog-master.yaml"
    database-change-log-table: CHGLOG_USERS
    database-change-log-lock-table: CHGLOG_LOCK_USERS

  cloud:
    stream:
      bindings:
        userCreatedOutPut:
          destination: live.badarak-plateform
          content-type: application/json
      rabbit:
        bindings:
          userCreatedOutPut.producer.routing-key-expression: "'user.created'"

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

logging:
  level:
    root: INFO
    com.badarak: DEBUG

